body{
        background-image: url(https://bkimg.cdn.bcebos.com/pic/d6ca7bcb0a46f21fbe090ac43c767c600c3387440053?x-bce-process=image/watermark,image_d2F0ZXIvYmFpa2UyMjA=,g_7,xp_5,yp_5);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background-position: relative;
    }
